
.App {
  text-align: center;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.form-add {
  text-align: left;
  margin-top: 80px;
  width: 60%;
}

.valid-form__message {
    margin-top: 10px;
    font-size: 14px;
    color: red;
}


